
<VirtualHost {{ hr_listen_ip }}:80>
    ServerName {{ _hr_from_domain }}
    {% if _hr_from_aliases %}
    {% for alias in _hr_from_aliases %}
    ServerAlias {{ alias }}
    {% endfor %}
    {% endif %}

    RewriteEngine On
    RewriteRule .* {{ 'https' if hr_force_ssl else 'http' }}://{{ hr_to_domain }}%{REQUEST_URI} {{ _hr_flags_str }}
</VirtualHost>

{% if hr_from_ssl %}
<VirtualHost {{ hr_listen_ip }}:443>
    ServerName {{ _hr_from_domain }}
    {% if _hr_from_aliases %}
    {% for alias in _hr_from_aliases %}
    ServerAlias {{ alias }}
    {% endfor %}
    {% endif %}

    SSLEngine on
    {% if hr_letsencrypt -%}
    SSLCertificateFile /etc/letsencrypt/live/{{ _hr_from_domain }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ _hr_from_domain }}/privkey.pem
    SSLCACertificateFile /etc/letsencrypt/live/{{ _hr_from_domain }}/chain.pem
    {% else -%}
    SSLCertificateFile {{ hr_certificate_file }}
    SSLCertificateKeyFile {{ hr_certificate_key_file }}
    SSLCACertificateFile {{ hr_ca_certificate_file }}
    {% endif %}

    RewriteEngine On
    RewriteRule .* https://{{ hr_to_domain }}%{REQUEST_URI} {{ _hr_flags_str }}
</VirtualHost>
{% endif %}
